/* NAVBAR */
.navbar img {
  object-fit: contain;
}

.navbar {
  width: 90%;
  margin-inline: auto;
}

.navbar p {
  font-size: 0.9em;
}

button.rounded-pill {
  border: 1px solid black;
  padding-inline: 2px;
}


/*CARD*/
.card {
  font-family: montserrat;
}

p {
  font-size: 9pt !important;
}

.carousel-icons {
  position: absolute;
  z-index: 1;
  top: 7%;
  right: 8%;
  color: gray;
}

div .carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
ion-icon {
  fill: none;
  stroke: grey;
  stroke-width: 5%;
}

.fill__hearts {
  fill: red;
}
.heart:hover {
  fill: red;
}
