/*
@font-face {
  font-family: Cereal-Bd;
  src: url(./assets/font/AirbnbCereal_W_Bd.otf);
}

@font-face {
  font-family: Cereal-Bk;
  src: url(./assets/font/AirbnbCereal_W_Bk.otf);
}

@font-face {
  font-family: Cereal-Blk;
  src: url(./assets/font/AirbnbCereal_W_Blk.otf);
}

@font-face {
  font-family: Cereal-Lt;
  src: url(./assets/font/AirbnbCereal_W_Lt.otf);
}

@font-face {
  font-family: Cereal-Md;
  src: url(./assets/font/AirbnbCereal_W_Md.otf);
}

@font-face {
  font-family: Cereal-Xbd;
  src: url(./assets/font/AirbnbCereal_W_XBd.otf);
}
*/
.small{
  font-size: small;
}
.x-small{
  font-size: x-small;
}
/* NAVBAR */
.navbar img {
  object-fit: contain;
}

.navbar {
  width: 90%;
  margin-inline: auto;
}

.navbar p {
  font-size: 0.9em;
}
.dropdown button:hover{
  box-shadow: 0px 3px 3px gainsboro;
}
.dropdown button {
  border: 1px solid gray;
  padding-inline: 2px;
}
.dropdown-item a{
  text-decoration: none;
  color: inherit;
}
.dropdown-item a:hover{
  background-color: gainsboro;
}
ion-icon[name="globe-outline"]{
  font-size: large;
  color: black;
}
ion-icon[name="globe-outline"]:hover{
  scale: 1.2;
  transition: transform 0.3s ease-in-out;
}
/* MINI-NAV */

.mini-nav .row ion-icon{
  color: gray;
}
.mini-nav p{
  border-bottom: 2px solid black;
}
.mini-nav .col-1:hover{
  scale: 1.2;
}

/*CARD*/
.card {
  font-family: montserrat;
 /* font-family: Cereal-Bk;*/
  margin-top: 5%;
}

p {
  font-size: 9pt !important;
}

.carousel-icons {
  position: absolute;
  z-index: 1;
  top: 7%;
  right: 8%;
  color: gray;
}

div .carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-collector ion-icon {
  color: white;
  fill: black;
  fill-opacity: 50%;
  stroke-width: 5%;
}

.fill__hearts {
  fill: red!important;
}
.heart:hover {
  fill: red;
}
