.navbar img{
    object-fit: contain;
}
.navbar {
  color: white;
}
.navbar p{
  font-size: 0.4em;
}
button.rounded-pill{
  border: 1px solid black;
  padding-inline: 2px;
}
.small{
  font-size: small;
}
.x-small{
  font-size: x-small;
}
.xx-small{
  font-size: xx-small;
}
.navbar .search-nav{
  color: black;
}
.navbar .search-nav b{
  font-size: 0.4em;
}
.search-nav ion-icon{
  background-color: #FF385C!important;
  color: white;
  font-size: xx-small;
}
.search-nav input{
  font-size: 0.4em;
  border: none;
  outline: none;
  color: gray;
}
h1 {
  font-size: 100pt;
}
img {
  object-fit: cover;
}
.logo {
  width: 100px;
}
